absl-py==0.13.0
antlr4-python3-runtime==4.9.3
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
bleach==3.3.0
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.1.3
cloudpickle==1.6.0
colorama==0.4.4
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.32
decorator==4.4.2
deepdiff==5.5.0
defusedxml==0.7.1
dgl-cu101==0.6.1
dgl-cu111==0.6.1
docker-pycreds==0.4.0
docopt==0.6.2
entmax==1.0
entrypoints==0.3
enum34==1.1.10
et-xmlfile==1.1.0
fasteners==0.18
future==0.18.2
gfootball @ file:///nfs4-p1/lsy/code/football
gitdb==4.0.7
GitPython==3.1.20
glfw==2.5.5
google-auth==1.31.0
google-auth-oauthlib==0.4.4
Grid2Op==1.4.0
grpcio==1.38.0
gym==0.18.3
hydra-core==0.11.0
idna==2.10
imageio==2.22.0
importlib-resources==5.12.0
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==3.0.1
joblib==1.0.1
jsonpickle==1.5.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
LightSim2Grid @ file:///nfs4-p1/lsy/code/lightsim2grid
llvmlite==0.36.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mock==4.0.3
mpmath==1.2.1
mpyq==0.2.5
mujoco-py==2.1.2.14
munch==2.5.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.0
numba==0.53.1
numpy==1.20.3
nvidia-htop==1.0.5
oauthlib==3.1.1
omegaconf==1.4.0
opencv-python==4.6.0.66
openpyxl==3.0.7
ordered-set==4.0.2
packaging==20.9
pandapower==2.6.0
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pathlib==1.0.1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
portpicker==1.4.0
prometheus-client==0.11.0
promise==2.3
prompt-toolkit==3.0.18
protobuf==3.17.3
psutil==5.9.1
ptyprocess==0.7.0
py-cpuinfo==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.6.2
pycparser==2.20
pygame==2.0.1
pyglet==1.5.15
Pygments==2.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
PySC2==3.0.0
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
s2clientprotocol==5.0.7.84643.0
s2protocol==5.0.7.84643.0
sacred==0.8.2
scikit-learn==0.24.2
scipy==1.6.0
seaborn==0.9.0
Send2Trash==1.5.0
sentry-sdk==1.11.0
setproctitle==1.3.2
shortuuid==1.0.11
six==1.16.0
sk-video==1.1.10
smmap==4.0.0
sympy==1.8
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.5.1
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
threadpoolctl==2.1.0
torch @ file:///nfs4-p1/lsy/download/torch-1.8.1%2Bcu111-cp38-cp38-linux_x86_64.whl
torchsummary==1.5.1
torchvision==0.9.1
tornado==6.1
tqdm==4.61.1
traitlets==5.0.5
typing-extensions==3.10.0.0
urllib3==1.26.12
wandb==0.13.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.1.0
Werkzeug==2.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
XlsxWriter==1.4.3
zipp==3.15.0
